<div class="app" *ngIf="!win">
  <div class="container">
    <app-header [title]="title" [score]="score" [timer]="timer"></app-header>
    <section *ngIf="gameOver" class="game-over-style">
      <h2>Game Over</h2>
      <button type="button" title="restart" class="restart-button" (click)="restart()">Restart Game</button>
    </section>
    <main *ngIf="!gameOver">
      <app-image-presentation [index] = "numberOfCorrectAnswers"></app-image-presentation>
      <label for="answer-input" >Type your answer below:</label>
      <input type="text" id="answerInput" [value]="userAnswer" (change)="getValue($event)" autocomplete="off" autofocus />
      <p class="tip-style">All answers are compound words like volleyball"</p>
      
      <button type="button" title="submit" (click)="submitAnswer()">Submit</button>
    </main>
    <app-footer [gameOver]="gameOver" [pauseTimer]="pauseTimer" (startTimer)="startTimer()" (pause)="pause()" (skip)="skip()" (restart)="restart()"></app-footer>
  </div>
</div>
<div *ngIf="win" class="win-style">
  <h2>Winner</h2>
  <h3>Final score is {{score}}</h3>
</div>
