<div>
  <header>
    <h1>{{title}}</h1>
    <div class="toolbar">
      <section>
        <h3>Score</h3>
        <p class="score-style">{{score}}</p>
      </section>
      <section>
        <h3>Timer</h3>
        <p class="timer-style">{{timer}}</p>
      </section>
    </div>
  </header>
  <section *ngIf="gameOver" class="game-over-style">
    <h2>Game Over</h2>
  </section>
  <main>
    <h2>What do these pictures represent?</h2>
    <img src="../assets/eye.png" alt="picture of an eye" />
    <img src="../assets/plus.png" alt="picture of an plus sign" class="img-operater" />
    <img src="../assets/dribbble-logo.png" alt="picture of an basketball" />

      <label for="answer-input" >Type your answer below:</label>
      <input type="text" id="answer-input" />
    
      <button type="button" title="submit">Submit</button>
  </main>
</div>
