<div>
  <header>
    <h1>Treasure Hunt</h1>
    <div class="toolbar">
      <section>
        <h5>Score</h5>
        <p>0</p>
      </section>
      <section>
        <h5>Timer</h5>
        <p>60</p>
      </section>
    </div>
  </header>
  <main>
    <h2>What do these pictures represent?</h2>
    <img src="../assets/eye.png" alt="picture of an eye" />
    <img src="../assets/plus.png" alt="picture of an plus sign" class="img-operater" />
    <img src="../assets/dribbble-logo.png" alt="picture of an basketball" />

      <label for="answer-input" >Type your answer below:</label>
      <input type="text" id="answer-input" />
    
      <button type="button" title="submit">Submit</button>
  </main>
</div>
