.hint {
    color: blue;
    font-size: small;
}

h2 {
    margin-top: 0px;
}

.image-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

img {
    max-width: 150px;
}

.img-operater {
    max-width: 40px;
}

/*large screens*/
@media only screen and (min-width: 500px) {
      img {
        max-width: 170px;
      }
}
